<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Heart Disease Predicion</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <form action="{{ url_for('home')}}">
    <button type="submit" class="glow-on-hover" style="float: left;">Back To Main Page</button>
  </form>

 <div class="login">
	<h1>Predict Heart Disease</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_heart')}}"method="post">
      <input type="int" name="Age" placeholder="Age" required="required" />
      <input type="int" name="Sex" placeholder="Sex" required="required" />
      <input type="int" name="ChestPainType" placeholder="ChestPainType" required="required" />
      <input type="int" name="RestingBP" placeholder="RestingBP" required="required" />
      <input type="int" name="Cholesterol" placeholder="Cholesterol" required="required" />
      <input type="int" name="FastingBS" placeholder="FastingBS" required="required" />
      <input type="int" name="RestingECG" placeholder="RestingECG" required="required" />
      <input type="int" name="MaxHR" placeholder="MaxHR" required="required" />
      <input type="int" name="ExerciseAngina" placeholder="ExerciseAngina" required="required" />
      <input type="int" name="OldPeak" placeholder="OldPeak" required="required" />
      <input type="int" name="ST_ExerciseAngina" placeholder="ST_ExerciseAngina" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
